@font-face {
    font-display: swap;
    font-family: "Nunito-Digits";
    font-style: normal;
    font-weight: 400;
    src: url("Nunito-Regular-Subset.woff2") format("woff2");
}

*:focus,
*:focus-visible {
    outline: none !important
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
  -moz-appearance: textfield;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
    background-color: #000;
    font-family: "Nunito-Digits", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-size-adjust: none;
}

.settings-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    color: #999;
    cursor: pointer;
    padding: 0 2rem;
    line-height: 4rem;
    -webkit-tap-highlight-color: transparent;
}

.settings-dialog {
    display: none;
    position: absolute;
    width: 50vh;
    max-width: 80vw;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid #666;
    text-size-adjust: none;
    -webkit-text-size-adjust: none; /* Für Safari und andere WebKit-basierte Browser */
    -moz-text-size-adjust: none; /* Für Firefox */
    -ms-text-size-adjust: none; /* Für Internet Explorer */
}
.settings-dialog p {
    border-bottom: 2px solid #666;
    margin: 0 0 1rem;
}
input#beep-times, input#timer-duration {
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: #fff;
    background-color: #000;
    border: 2px solid #999;
    border-radius: 1rem;
    font-size: 2rem;
    max-width: 76vw;
    width: 48vh;
    letter-spacing: 0.1vh;
}

.close-button {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: 3rem;
    color: #999;
    cursor: pointer;
}

.progress-circle {
    position: relative;
    width: 80vw;
    height: 80vw;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.progress-circle svg {
    width: 100%;
    height: 100%;
}

#progress {
    stroke-dasharray: 1165;
    stroke-dashoffset: 1165;
    transition: stroke-dashoffset 0.1s linear;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%, -48%);
    font-size: 35vw;
    color: #999;
    cursor: pointer;
}

.elapsed-time {
    font-size: 14vw;
    color: #999;
    margin-top: 20px;
}

@media (orientation: landscape) {
    .progress-circle {
        max-height: 70vh;
    }

    .text {
        font-size: 30vh;
    }

    .elapsed-time {
        font-size: 12vh;
    }
    .settings-dialog {
        width: 80vw;
    }
    input#beep-times, input#timer-duration, .settings-dialog {
        font-size: 2.5vw;
        width: 100%;
    }
    .close-button {
        top: 0.5vw;
        right: 2vw;
        font-size: 4vw;
    }
    .settings-button {
        top: 2vw;
    font-size: 6vw;
    }
    input#beep-times, input#timer-duration {
        display: block;
    }

}